{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <h1>Hello django!</h1>
</div>
</br>

{% for post in posts %}
    <div>
    <h2>{{ post.title }}</h2>
    <p>{{ post.text | linebreaksbr }} </p>
    <p><i>published: {{ post.published_date }}</i></p>
    </div>
{% endfor %}


</body>
</html>